# Análisis Exploratorio De Datos Con Pandas: Emisiones Globales De CO2 y su Relación con el PBI

El objetivo del presente proyecto es responder a las siguientes preguntas:

* ¿Cuáles son los países que registran mayores emisiones?
* ¿Qué correlación existe entre PBI y emisiones de CO2?

In [1]:
# Preparación de entorno

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Eliminando notación científica

pd.set_option('display.float_format', '{:.2f}'.format)

### Set de datos CO2

In [3]:
# Lectura de archivo

co2_raw = pd.read_csv("co2.csv")

In [4]:
# Columnas

co2_raw.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]'],
      dtype='object')

In [5]:
# df['column_name'] = pd.to_numeric(df['column_name'], errors='coerce')

co2_raw['1960 [YR1960]'] = pd.to_numeric(co2_raw['1960 [YR1960]'], errors='coerce') # errors coerce reemplaza los strings por NaN
co2_raw['1961 [YR1961]'] = pd.to_numeric(co2_raw['1961 [YR1961]'], errors='coerce')
co2_raw['1962 [YR1962]'] = pd.to_numeric(co2_raw['1962 [YR1962]'], errors='coerce')
co2_raw['1963 [YR1963]'] = pd.to_numeric(co2_raw['1963 [YR1963]'], errors='coerce')
co2_raw['1964 [YR1964]'] = pd.to_numeric(co2_raw['1964 [YR1964]'], errors='coerce')
co2_raw['1965 [YR1965]'] = pd.to_numeric(co2_raw['1965 [YR1965]'], errors='coerce')
co2_raw['1966 [YR1966]'] = pd.to_numeric(co2_raw['1966 [YR1966]'], errors='coerce')
co2_raw['1967 [YR1967]'] = pd.to_numeric(co2_raw['1967 [YR1967]'], errors='coerce')
co2_raw['1968 [YR1968]'] = pd.to_numeric(co2_raw['1968 [YR1968]'], errors='coerce')
co2_raw['1969 [YR1969]'] = pd.to_numeric(co2_raw['1969 [YR1969]'], errors='coerce')
co2_raw['1970 [YR1970]'] = pd.to_numeric(co2_raw['1970 [YR1970]'], errors='coerce')
co2_raw['1971 [YR1971]'] = pd.to_numeric(co2_raw['1971 [YR1971]'], errors='coerce')
co2_raw['1972 [YR1972]'] = pd.to_numeric(co2_raw['1972 [YR1972]'], errors='coerce')
co2_raw['1973 [YR1973]'] = pd.to_numeric(co2_raw['1973 [YR1973]'], errors='coerce')
co2_raw['1974 [YR1974]'] = pd.to_numeric(co2_raw['1974 [YR1974]'], errors='coerce')
co2_raw['1975 [YR1975]'] = pd.to_numeric(co2_raw['1975 [YR1975]'], errors='coerce')
co2_raw['1976 [YR1976]'] = pd.to_numeric(co2_raw['1976 [YR1976]'], errors='coerce')
co2_raw['1977 [YR1977]'] = pd.to_numeric(co2_raw['1977 [YR1977]'], errors='coerce')
co2_raw['1978 [YR1978]'] = pd.to_numeric(co2_raw['1978 [YR1978]'], errors='coerce')
co2_raw['1979 [YR1979]'] = pd.to_numeric(co2_raw['1979 [YR1979]'], errors='coerce')
co2_raw['1980 [YR1980]'] = pd.to_numeric(co2_raw['1980 [YR1980]'], errors='coerce')
co2_raw['1981 [YR1981]'] = pd.to_numeric(co2_raw['1981 [YR1981]'], errors='coerce')
co2_raw['1982 [YR1982]'] = pd.to_numeric(co2_raw['1982 [YR1982]'], errors='coerce')
co2_raw['1983 [YR1983]'] = pd.to_numeric(co2_raw['1983 [YR1983]'], errors='coerce')
co2_raw['1984 [YR1984]'] = pd.to_numeric(co2_raw['1984 [YR1984]'], errors='coerce')
co2_raw['1985 [YR1985]'] = pd.to_numeric(co2_raw['1985 [YR1985]'], errors='coerce')
co2_raw['1986 [YR1986]'] = pd.to_numeric(co2_raw['1986 [YR1986]'], errors='coerce')
co2_raw['1987 [YR1987]'] = pd.to_numeric(co2_raw['1987 [YR1987]'], errors='coerce')
co2_raw['1988 [YR1988]'] = pd.to_numeric(co2_raw['1988 [YR1988]'], errors='coerce')
co2_raw['1989 [YR1989]'] = pd.to_numeric(co2_raw['1989 [YR1989]'], errors='coerce')
co2_raw['1990 [YR1990]'] = pd.to_numeric(co2_raw['1990 [YR1990]'], errors='coerce')
co2_raw['1991 [YR1991]'] = pd.to_numeric(co2_raw['1991 [YR1991]'], errors='coerce')
co2_raw['1992 [YR1992]'] = pd.to_numeric(co2_raw['1992 [YR1992]'], errors='coerce')
co2_raw['1993 [YR1993]'] = pd.to_numeric(co2_raw['1993 [YR1993]'], errors='coerce')
co2_raw['1994 [YR1994]'] = pd.to_numeric(co2_raw['1994 [YR1994]'], errors='coerce')
co2_raw['1995 [YR1995]'] = pd.to_numeric(co2_raw['1995 [YR1995]'], errors='coerce')
co2_raw['1996 [YR1996]'] = pd.to_numeric(co2_raw['1996 [YR1996]'], errors='coerce')
co2_raw['1997 [YR1997]'] = pd.to_numeric(co2_raw['1997 [YR1997]'], errors='coerce')
co2_raw['1998 [YR1998]'] = pd.to_numeric(co2_raw['1998 [YR1998]'], errors='coerce')
co2_raw['1999 [YR1999]'] = pd.to_numeric(co2_raw['1999 [YR1999]'], errors='coerce')
co2_raw['2000 [YR2000]'] = pd.to_numeric(co2_raw['2000 [YR2000]'], errors='coerce')
co2_raw['2001 [YR2001]'] = pd.to_numeric(co2_raw['2001 [YR2001]'], errors='coerce')
co2_raw['2002 [YR2002]'] = pd.to_numeric(co2_raw['2002 [YR2002]'], errors='coerce')
co2_raw['2003 [YR2003]'] = pd.to_numeric(co2_raw['2003 [YR2003]'], errors='coerce')
co2_raw['2004 [YR2004]'] = pd.to_numeric(co2_raw['2004 [YR2004]'], errors='coerce')
co2_raw['2005 [YR2005]'] = pd.to_numeric(co2_raw['2005 [YR2005]'], errors='coerce')
co2_raw['2006 [YR2006]'] = pd.to_numeric(co2_raw['2006 [YR2006]'], errors='coerce')
co2_raw['2007 [YR2007]'] = pd.to_numeric(co2_raw['2007 [YR2007]'], errors='coerce')
co2_raw['2008 [YR2008]'] = pd.to_numeric(co2_raw['2008 [YR2008]'], errors='coerce')
co2_raw['2009 [YR2009]'] = pd.to_numeric(co2_raw['2009 [YR2009]'], errors='coerce')
co2_raw['2010 [YR2010]'] = pd.to_numeric(co2_raw['2010 [YR2010]'], errors='coerce')
co2_raw['2011 [YR2011]'] = pd.to_numeric(co2_raw['2011 [YR2011]'], errors='coerce')
co2_raw['2012 [YR2012]'] = pd.to_numeric(co2_raw['2012 [YR2012]'], errors='coerce')
co2_raw['2013 [YR2013]'] = pd.to_numeric(co2_raw['2013 [YR2013]'], errors='coerce')
co2_raw['2014 [YR2014]'] = pd.to_numeric(co2_raw['2014 [YR2014]'], errors='coerce')
co2_raw['2015 [YR2015]'] = pd.to_numeric(co2_raw['2015 [YR2015]'], errors='coerce')
co2_raw['2016 [YR2016]'] = pd.to_numeric(co2_raw['2016 [YR2016]'], errors='coerce')
co2_raw['2017 [YR2017]'] = pd.to_numeric(co2_raw['2017 [YR2017]'], errors='coerce')
co2_raw['2018 [YR2018]'] = pd.to_numeric(co2_raw['2018 [YR2018]'], errors='coerce')
co2_raw['2019 [YR2019]'] = pd.to_numeric(co2_raw['2019 [YR2019]'], errors='coerce')
co2_raw['2020 [YR2020]'] = pd.to_numeric(co2_raw['2020 [YR2020]'], errors='coerce')

In [6]:
# Renombrado de columnas

co2_raw = co2_raw.rename(columns={'1960 [YR1960]':'1960',
                        '1961 [YR1961]':'1961',
                        '1962 [YR1962]':'1962',
                        '1963 [YR1963]':'1963',
                        '1964 [YR1964]':'1964',
                        '1965 [YR1965]':'1965',
                        '1966 [YR1966]':'1966',
                        '1967 [YR1967]':'1967',
                        '1968 [YR1968]':'1968',
                        '1969 [YR1969]':'1969',
                        '1970 [YR1970]':'1970',
                        '1971 [YR1971]':'1971',
                        '1972 [YR1972]':'1972',
                        '1973 [YR1973]':'1973',
                        '1974 [YR1974]':'1974',
                        '1975 [YR1975]':'1975',
                        '1976 [YR1976]':'1976',
                        '1977 [YR1977]':'1977',
                        '1978 [YR1978]':'1978',
                        '1979 [YR1979]':'1979',
                        '1980 [YR1980]':'1980',
                        '1981 [YR1981]':'1981',
                        '1982 [YR1982]':'1982',
                        '1983 [YR1983]':'1983',
                        '1984 [YR1984]':'1984',
                        '1985 [YR1985]':'1985',
                        '1986 [YR1986]':'1986',
                        '1987 [YR1987]':'1987',
                        '1988 [YR1988]':'1988',
                        '1989 [YR1989]':'1989',
                        '1990 [YR1990]':'1990',
                        '1991 [YR1991]':'1991',
                        '1992 [YR1992]':'1992',
                        '1993 [YR1993]':'1993',
                        '1994 [YR1994]':'1994',
                        '1995 [YR1995]':'1995',
                        '1996 [YR1996]':'1996',
                        '1997 [YR1997]':'1997',
                        '1998 [YR1998]':'1998',
                        '1999 [YR1999]':'1999',
                        '2000 [YR2000]':'2000',
                        '2001 [YR2001]':'2001',
                        '2002 [YR2002]':'2002',
                        '2003 [YR2003]':'2003',
                        '2004 [YR2004]':'2004',
                        '2005 [YR2005]':'2005',
                        '2006 [YR2006]':'2006',
                        '2007 [YR2007]':'2007',
                        '2008 [YR2008]':'2008',
                        '2009 [YR2009]':'2009',
                        '2010 [YR2010]':'2010',
                        '2011 [YR2011]':'2011',
                        '2012 [YR2012]':'2012',
                        '2013 [YR2013]':'2013',
                        '2014 [YR2014]':'2014',
                        '2015 [YR2015]':'2015',
                        '2016 [YR2016]':'2016',
                        '2017 [YR2017]':'2017',
                        '2018 [YR2018]':'2018',
                        '2019 [YR2019]':'2019',
                        '2020 [YR2020]':'2020'})

In [7]:
# Eliminando columnas sin datos

co2_raw = co2_raw.drop('2021 [YR2021]', axis=1)
co2_raw = co2_raw.drop('2022 [YR2022]', axis=1)

In [8]:
co2_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8251 entries, 0 to 8250
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  8248 non-null   object
 1   Country Code  8246 non-null   object
 2   Series Name   8246 non-null   object
 3   Series Code   8246 non-null   object
 4   1960          1305 non-null   float64
 5   1961          1314 non-null   float64
 6   1962          1328 non-null   float64
 7   1963          1339 non-null   float64
 8   1964          1376 non-null   float64
 9   1965          1382 non-null   float64
 10  1966          1382 non-null   float64
 11  1967          1382 non-null   float64
 12  1968          1382 non-null   float64
 13  1969          1382 non-null   float64
 14  1970          1951 non-null   float64
 15  1971          2627 non-null   float64
 16  1972          2636 non-null   float64
 17  1973          2636 non-null   float64
 18  1974          2636 non-null   float64
 19  1975          2635 non-null   float64
 20  1976          2638 non-null   float64
 21  1977          2643 non-null   float64
 22  1978          2643 non-null   float64
 23  1979          2644 non-null   float64
 24  1980          2663 non-null   float64
 25  1981          2674 non-null   float64
 26  1982          2676 non-null   float64
 27  1983          2676 non-null   float64
 28  1984          2677 non-null   float64
 29  1985          2682 non-null   float64
 30  1986          2689 non-null   float64
 31  1987          2689 non-null   float64
 32  1988          2690 non-null   float64
 33  1989          2693 non-null   float64
 34  1990          6172 non-null   float64
 35  1991          5778 non-null   float64
 36  1992          5948 non-null   float64
 37  1993          5960 non-null   float64
 38  1994          6024 non-null   float64
 39  1995          6026 non-null   float64
 40  1996          6019 non-null   float64
 41  1997          6025 non-null   float64
 42  1998          6027 non-null   float64
 43  1999          6027 non-null   float64
 44  2000          6489 non-null   float64
 45  2001          6074 non-null   float64
 46  2002          6089 non-null   float64
 47  2003          6091 non-null   float64
 48  2004          6125 non-null   float64
 49  2005          6546 non-null   float64
 50  2006          6144 non-null   float64
 51  2007          6150 non-null   float64
 52  2008          6529 non-null   float64
 53  2009          6125 non-null   float64
 54  2010          6511 non-null   float64
 55  2011          6087 non-null   float64
 56  2012          6103 non-null   float64
 57  2013          6106 non-null   float64
 58  2014          6100 non-null   float64
 59  2015          5020 non-null   float64
 60  2016          4957 non-null   float64
 61  2017          3283 non-null   float64
 62  2018          3283 non-null   float64
 63  2019          3279 non-null   float64
 64  2020          3273 non-null   float64
dtypes: float64(61), object(4)
memory usage: 4.1+ MB

In [9]:
# Filtrado por serie: CO2 emissions (kt)

valor_a_filtrar = 'CO2 emissions (kt)'
filtro = co2_raw['Series Name'] == valor_a_filtrar

co2_emissions_df = co2_raw[filtro]

In [10]:
print(co2_emissions_df)

                                    Country Name Country Code  \
7                                    Afghanistan          AFG
38                                       Albania          ALB
69                                       Algeria          DZA
100                               American Samoa          ASM
131                                      Andorra          AND
...                                          ...          ...
8098                          Sub-Saharan Africa          SSF
8129  Sub-Saharan Africa (excluding high income)          SSA
8160   Sub-Saharan Africa (IDA & IBRD countries)          TSS
8191                         Upper middle income          UMC
8222                                       World          WLD

             Series Name     Series Code  1960  1961  1962  1963  1964  1965  \
7     CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
38    CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
69    CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
100   CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
131   CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
...                  ...             ...   ...   ...   ...   ...   ...   ...
8098  CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
8129  CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
8160  CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
8191  CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN
8222  CO2 emissions (kt)  EN.ATM.CO2E.KT   NaN   NaN   NaN   NaN   NaN   NaN

      ...        2011        2012        2013        2014        2015  \
7     ...    11961.89    10208.13     9402.05     9281.34    10057.59
38    ...     5136.70     4541.80     4795.40     5188.00     4797.00
69    ...   120784.90   134934.20   139024.10   147735.20   156273.00
100   ...         NaN         NaN         NaN         NaN         NaN
131   ...      490.98      487.31      476.32      461.66      465.33
...   ...         ...         ...         ...         ...         ...
8098  ...   690836.38   717126.54   755034.18   788024.60   770629.63
8129  ...   690428.18   716702.83   754621.98   787567.90   770129.83
8160  ...   690836.38   717126.54   755034.18   788024.60   770629.63
8191  ... 14683619.21 15046424.84 15496037.52 15550983.46 15348154.71
8222  ... 33079721.35 33460087.50 34119894.39 34261369.66 34070176.85

            2016        2017        2018        2019        2020
7        9294.93    10022.78    10972.38    11238.83     8709.47
38       4573.20     5403.70     5316.10     4993.30     4383.20
69     154654.30   157704.40   164534.10   170582.40   161563.00
100          NaN         NaN         NaN         NaN         NaN
131       468.99      465.33      494.64      479.98      448.88
...          ...         ...         ...         ...         ...
8098   781618.46   791456.38   809339.85   833713.85   760868.11
8129   781052.86   790885.68   808737.55   833118.55   760269.41
8160   781618.46   791456.38   809339.85   833713.85   760868.11
8191 15332252.10 15680729.34 16265198.32 16546520.02 16383995.51
8222 34145652.30 34687837.09 35560555.79 35477245.40 33566427.59

[266 rows x 65 columns]

In [11]:
# Eliminamos los años entre 1960-1989 porque no registran datos.

co2_emissions_df = co2_emissions_df.drop(['1960',
                                          '1961',
                                          '1962',
                                          '1963',
                                          '1964',
                                          '1965',
                                          '1966',
                                          '1967',
                                          '1968',
                                          '1969',
                                          '1970',
                                          '1971',
                                          '1972',
                                          '1973',
                                          '1974',
                                          '1975',
                                          '1976',
                                          '1977',
                                          '1978',
                                          '1979',
                                          '1980',
                                          '1981',
                                          '1982',
                                          '1983',
                                          '1984',
                                          '1985',
                                          '1986',
                                          '1987',
                                          '1988',
                                          '1989'], axis=1)

In [12]:
# Reemplazamos NANs por ceros y redondeamos al segundo decimal

co2_emissions_df = co2_emissions_df.fillna(0)
co2_emissions_df = co2_emissions_df.round(2)

### Set de datos PBI (GDP)

In [13]:
# Lectura de archivo

gdp_raw = pd.read_csv("gdp.csv")

In [14]:
# Eliminación de columna 'Unnamed: 65'

gdp_raw = gdp_raw.drop('Unnamed: 65', axis=1)

In [15]:
# Renombrado de columna 'Code' a 'Country Code' para que coincida con el dataframe anterior.

gdp_raw = gdp_raw.rename(columns={'Code':'Country Code'})

In [16]:
# Eliminamos los años 1960-1989 para que coincida con el dataframe de CO2

gdp_df = gdp_raw.drop(['1960',
                                          '1961',
                                          '1962',
                                          '1963',
                                          '1964',
                                          '1965',
                                          '1966',
                                          '1967',
                                          '1968',
                                          '1969',
                                          '1970',
                                          '1971',
                                          '1972',
                                          '1973',
                                          '1974',
                                          '1975',
                                          '1976',
                                          '1977',
                                          '1978',
                                          '1979',
                                          '1980',
                                          '1981',
                                          '1982',
                                          '1983',
                                          '1984',
                                          '1985',
                                          '1986',
                                          '1987',
                                          '1988',
                                          '1989'], axis=1)

In [17]:
## Reemplazamos NANs por ceros y redondeamos al segundo decimal

gdp_df = gdp_df.fillna(0)
gdp_df = gdp_df.round(2)

In [20]:
# Generamos una nueva columna con un código identificador ***GDP

gdp_df['GDP Code'] = gdp_df['Country Code'].apply(lambda x: x + 'GDP')